<!-- Start Of Stories -->
<div class="stories scrollable">
  <app-story *ngFor="let story of stories" [story]="story"></app-story>
</div>
<!-- End Of Stories -->
<form class="create-post">
  <div class="profile-photo">
    <img src="./assets/images/profile-1.jpg" alt="" />
  </div>
  <input
    type="text"
    id="create-post"
    placeholder="What's on your mind, Diana?"
  />
  <input type="submit" value="Post" class="btn btn-primary" />
</form>

<!-- feeds -->
<div class="feeds">
  <ng-container *ngFor="let post of posts">
    <app-post [post]="post"></app-post>
  </ng-container>
</div>
