<!-- Start Of Stories -->
<div class="stories scrollable">
  <app-story *ngFor="let story of stories$ | async" [story]="story"></app-story>
</div>
<!-- End Of Stories -->
<form class="create-post">
  <div class="profile-photo">
    <img src="./assets/images/profile-1.jpg" alt="" />
  </div>
  <input
    type="text"
    id="create-post"
    placeholder="What's on your mind, Diana?"
  />
  <app-button>
    <input type="submit" value="Post" />
    <!-- 
     ngProjectAs="[button]"
     button
     you can use any of them to project content using select
     -->
  </app-button>
</form>

<!-- feeds -->
<div class="feeds">
  <ng-container *ngFor="let post of posts$ | async">
    <app-post [post]="post"/>
  </ng-container>
</div>
