<!-- main section -->
<main>
  <div class="container">
    <!-- Left section -->
    <div class="left">
      <app-sidebar></app-sidebar>
    </div>
    <!-- End of Left Section -->

    <!-- Middle Section -->
    <div class="middle">
      <!-- Start Of Stories -->
      <div class="stories scrollable">
        <app-story *ngFor="let story of stories" [story]="story"></app-story>
      </div>
      <!-- End Of Stories -->
      <form class="create-post">
        <div class="profile-photo">
          <img src="./assets/images/profile-1.jpg" alt="" />
        </div>
        <input
          type="text"
          id="create-post"
          placeholder="What's on your mind, Diana?"
        />
        <input type="submit" value="Post" class="btn btn-primary" />
      </form>

      <!-- feeds -->
      <div class="feeds">
        <ng-container *ngFor="let post of posts">
          <app-post [post]="post"></app-post>
        </ng-container>
      </div>
    </div>
    <!-- End od Middle Section -->

    <!-- Right Section -->
    <div class="right scrollable">
      <app-message-sidebar></app-message-sidebar>
      <div class="friend-requests">
        <h4>Requests</h4>
        <app-friend-request
          *ngFor="let friendRequest of friendRequests"
          [request]="friendRequest"
        >
        </app-friend-request>
      </div>
    </div>
    <!-- End of Right Section -->
  </div>
</main>
<!-- End of main section -->
<div class="customize-theme">
  <div class="card">
    <h2>customize your view</h2>
    <p class="text-muted">Manage your font size, color, and background</p>

    <!-- Font Size -->
    <div class="font-size">
      <h4>font size</h4>
      <div>
        <h6>Aa</h6>
        <div class="choose-size">
          <span class="font-size-1"></span>
          <span class="font-size-2"></span>
          <span class="font-size-3 active"></span>
          <span class="font-size-4"></span>
          <!-- <span class="font-size-5"></span> -->
        </div>
        <h3>Aa</h3>
      </div>
    </div>
    <div class="color">
      <h4>color</h4>
      <div class="choose-color">
        <span class="color-1 active"></span>
        <span class="color-2"></span>
        <span class="color-3"></span>
        <span class="color-4"></span>
        <span class="color-5"></span>
      </div>
    </div>
    <div class="background">
      <h4>background</h4>
      <div class="choose-bg">
        <div class="bg-1 active">
          <span></span>
          <h5 for="bg-1">Light</h5>
        </div>
        <div class="bg-2">
          <span></span>
          <h5 for="bg-2">Dim</h5>
        </div>
        <div class="bg-3">
          <span></span>
          <h5 for="bg-3">Lights out</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="script.js"></script>
