.stories {
    display: grid;
    grid-auto-flow: column;
    /* Ensure items flow in a single row */
    grid-auto-columns: minmax(5.5rem,
            1fr);
    /* Set minimum and maximum column width */
    gap: 0.5rem;
    /* Space between items */
    overflow-x: auto;
    /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory;
    /* Optional: smooth snapping */
    height: 12rem;
    padding: 0.5rem;
}

/* ========== Create Post ========== */

.create-post {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background-color: var(--color-white);
    padding: 0.4rem var(--card-padding);
    border-radius: var(--border-radius);
}

.create-post input[type="text"] {
    justify-self: start;
    width: 100%;
    background: transparent;
    color: var(--color-dark);
    margin-left: 1rem;
}