<app-header />
<!-- main section -->
<main>
  <div class="container">
    <!-- Left section -->
    <app-sidebar class="left" />
    <!-- End of Left Section -->

    <!-- Middle Section -->
    <div class="middle">
      <router-outlet />
    </div>
    <!-- End od Middle Section -->

    <!-- Right Section -->
    <div class="right scrollable">
      <app-message-sidebar />
      <app-friends-requests-list />
    </div>
    <!-- End of Right Section -->
  </div>
</main>
<!-- End of main section -->

<app-theme />
