/* Main Section */
main {
    position: relative;
    top: 4.4rem;
    height: calc(100vh - 5.4rem);
    /* Adjust height to account for the fixed navbar */
}

.container {
    width: 85%;
    display: grid;
    grid-template-columns: 18vw auto 22vw;
    position: relative;
    height: 100%;
    /* Ensure container takes up the full height */
}

/* LEFT */
.left {
    height: max-content;
    position: sticky;
    top: var(--sticky-top-left);
    margin-top: 1rem;
    /* height: 100%; */
    /* overflow-y: auto; Enable scrolling if content overflows */
}

/* MIDDLE */
.middle {
    height: 100%;
    overflow-y: auto;
    /* Enable scrolling if content overflows */
    padding: 1rem;
}

.middle::-webkit-scrollbar {
    display: none;
}

/* ========= RIGHT ========== */

.container .right {
    position: sticky;
    /* top: 0; */
    top: var(--sticky-top-right);
    bottom: 0;
    height: 100%;
    overflow-y: auto;
    /*Enable scrolling if content overflows*/
    padding: 1rem;
}

.container .right:hover::-webkit-scrollbar {
    display: block;
}