<!-- navbar -->
<nav>
  <div class="container">
    <h2 class="logo">Socially</h2>
    <div class="search-bar">
      <i class="uli uil-search"></i>
      <input type="search" placeholder="Search for creators or posts ..." />
    </div>
    <div class="create">
      <label class="btn btn-primary" for="create-post">Create</label>
      <div class="profile-photo">
        <img src="./assets/images/profile-1.jpg" alt="profile image" />
      </div>
    </div>
  </div>
</nav>
<!-- end of navbar -->
