<app-profile-card />
<div class="sidebar">
  <a appMenuItem icon="uil uil-home" class="active"> Home </a>
  <a appMenuItem icon="uil uil-compass"> Explore </a>
  <a
    id="notifications"
    appMenuItem
    icon="uil uil-bell"
    [notificationCount]="15"
    (click)="NPopupClosed = !NPopupClosed"
  >
    Notifications
    <app-notifications-popup notifications [hidden]="NPopupClosed" />
  </a>
  <a
    id="messages-notification"
    appMenuItem
    icon="uil uil-envelope"
    [notificationCount]="6"
    (click)="OnMessagesClicked()"
  >
    Messages
  </a>
  <a appMenuItem icon="uil uil-bookmark"> Bookmarks </a>
  <a appMenuItem icon="uil uil-chart-line"> Analytics </a>
  <a
    id="theme"
    appMenuItem
    icon="uil uil-palette"
    (click)="themeService.open()"
  >
    Theme
  </a>
  <a appMenuItem icon="uil uil-setting"> Settings </a>
</div>

<app-button id="create-post-btn" label="Create Post" for="create-post" />
