<app-profile-card />
<div class="sidebar">
  <a appMenuItem icon="uil uil-home" [active]="false"> Home </a>
  <a appMenuItem icon="uil uil-compass" [active]="true"> Explore </a>
  <a
    id="notifications"
    appMenuItem
    icon="uil uil-bell"
    [notificationCount]="15"
  >
    Notifications
    <app-notifications-popup notifications />
  </a>
  <a
    id="messages-notification"
    appMenuItem
    icon="uil uil-envelope"
    [notificationCount]="6"
  >
    Messages
  </a>
  <a appMenuItem icon="uil uil-bookmark"> Bookmarks </a>
  <a appMenuItem icon="uil uil-chart-line"> Analytics </a>
  <a
    id="theme"
    appMenuItem
    icon="uil uil-palette"
    (click)="themeService.open()"
  >
    Theme
  </a>
  <a appMenuItem icon="uil uil-setting"> Settings </a>
</div>

<app-button id="create-post-btn" label="Create Post" for="create-post" />
