:host {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    margin-bottom: 0.8rem;
    align-items: flex-start;
}

p {
    font-size: 0.8rem;
}

.profile-photo {
    position: relative;
    overflow: visible;
}

.profile-photo img {
    border-radius: 50%;
}

.profile-photo .active {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 3px solid var(--color-white);
    background: var(--color-success);
    position: absolute;
    bottom: 0;
    right: 0;
}

.chat-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .message-body {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.message-body h5 {
  font-size: 0.85rem;
  font-weight: 500;
}

.message-body p {
  font-size: 0.75rem;
  color: var(--color-gray);
}

.message-body .message-time {
  font-size: 0.65rem;
  color: var(--color-gray);
} */